.App {
  display: grid;
  grid-template-columns: 350px 1fr;
  background-color: #161616;
  min-height: 100vh;
  color: #fff;
  user-select: none;
}

.sidebar {
  background-color: #262626;
  padding: 25px 10px;
}

.parent {
  cursor: pointer;
  font-size: 18px;
}

.childs {
  padding-left: 10px;
  padding-top: 3px;
}

.childs > div {
  padding: 2px 0;
  font-size: 14px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}